@import url("https://fonts.googleapis.com/css?family=Changa One");
@import url("https://fonts.googleapis.com/css?family=Imprima");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Background colors*/
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  /* background-color: rgb(48, 48, 48); */
}

/* Transparent background. */
yt-live-chat-renderer {
  background-color: transparent !important;
  /* background-color: #1B1B1B !important; */
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
  /* background-color: #1B1B1B !important; */
  background-color: transparent !important;
}

yt-live-chat-author-chip{
    display: none;
}

yt-live-chat-author-chip #author-name {
  background-color: transparent !important;
}

/* Outlines */
yt-live-chat-renderer * {
  text-shadow: -2px -2px #000000, -2px -1px #000000, -2px 0px #000000, -2px 1px #000000, -2px 2px #000000, -1px -2px #000000, -1px -1px #000000, -1px 0px #000000, -1px 1px #000000, -1px 2px #000000, 0px -2px #000000, 0px -1px #000000, 0px 0px #000000, 0px 1px #000000, 0px 2px #000000, 1px -2px #000000, 1px -1px #000000, 1px 0px #000000, 1px 1px #000000, 1px 2px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0px #000000, 2px 1px #000000, 2px 2px #000000;
  font-family: 'Space Mono', monospace;
  font-size: 18px !important;
  line-height: normal !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
  overflow: initial !important;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items {
  overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
  display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 24px;
  margin-bottom: -53px;
}

yt-live-chat-paid-message-renderer #header {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
  /* display: none !important; */
  width: 300px !important;
  height: 300px !important;
  border-radius: 24px !important;
  margin-right: 6px !important;
}

/* yt-live-chat-text-message-renderer #author-photo::before{ */
    #contents.yt-live-chat-item-list-renderer::before{
/* yt-live-chat-text-message-renderer::before{ */
    content: '';
    z-index: -1;
    position: absolute;
    width: 250px;
    /* opacity: 0; */
    left: 30px;
    bottom: 72px;
    aspect-ratio: 1;
    animation: bounce-out-top 0.3s both;
    background-image: url("https://lh3.googleusercontent.com/pw/ABLVV86z4yhy18sLMad7GkBH32EicgmCwzvLar60agMlBFjRw7nH3Ka0gjm_95IXWtDn6PPsA8lE8t9a1cvdwkSIgVxVrNNPChQt-sfSLnXpBInt7MLtjw13-efodoh_d5mMGjaMENQhek6aGqssC8jVFZE7tb3187JlRjl52Py-gslPkDIzyiqB_fe8GL5H3cmtowCu1rByZdeBlWTE24wxzb5bOdp8B0OX9mVb5Ud1NZ77yOIXCLqjLE_tZKheipS1h6dYsQK3yarO9WOd9AqKXPbw01LFGTFT-qnageqm74489v-0XwqXCexwhmu768cnre5MNQWFz2xWKWDeUWJfp0ytGYF-lsZFXFRktnGaKTKiXcYte0TtuMl-QPOqjhTAa7MwDk7mGp9wm5t7KHqy5rmbVJGJ4MqhOEIESDadoxlj8YQ1w1YM_DYaAbGY9g5PXsYAMiZg4GnqQ2c3Aft-bIn7aX7PmW1h1A0QA-1eF_u8y92i3aabhB18ou81e6-cFKPY-jPb-jJhOoqKxwFEe_EnInKpnkXeWgx4KhM1575vpXHMc-UVXmoMsXtHWewnRo_e_p4QLiU4X1wb51FK2_C2aTRMGAcSBXvXJKN9wJHtFX622gd6sf3Z_elUWpSqrYiMuld00ufDCHC048C-f01CdspdZlkQjg76dgdBIRYC9iRZi1wdnwWZ7xU1DOWblFp12Lv2KivNHf4IU6tf6MS4BtPm7JLlmiBqvJoG4ZjlICAVxsUZ5gzdKx2STaMG9BatMKd_7U4OXjxoQGTYRvASN9gwWfcgG70whaQWwRSqN-jGRtts5ZZNj0JxyPKZ6zUWJzVNntVk9WvxusEgQAVXqbifMSm1NOZLgAwBBf0VCKv-SGalgHMKx74n8PeiTQzYvOIpJEcLFFMLEr4se4fGLrnnUDlde7zQkq1gTOIq1zvvl-0Y8ioWiqtHuPY_ZfVTcAzmmeV-QgYS_KKrNed-se2_JW4=w767-h797-s-no-gm?authuser=0");
    background-repeat: round;
}

#contents.yt-live-chat-item-list-renderer::after{
  /* yt-live-chat-text-message-renderer::after{ */
  content: '';
  z-index: -1;
  position: absolute;
  opacity: 0;
  width: 250px;
  left: 30px;
  bottom: 72px;
  aspect-ratio: 1;
  animation: bounce-out-top-transparent 0.3s both;
  background-image: url("https://lh3.googleusercontent.com/pw/ABLVV87_PVc_vtt7O39ss2oTWmDQeExhfHy5VqdG5vuw7BWtlm71LFNrmcfYaruJEtBoZe8zhQu3gUfNsgHD2r01o13LrFu_G4ZjA7-WCpkSHQziRcundvXAhX_WqlnOu8L1oQ7S2CjoHeUtxYQ0W4iUpVNsquyNoc9n9OnMZUuP2pCUNeseCUrVz6Mnc9DnveMBhdcYuuabh64ZMW-tyJoetJVQ1Vtq7Hf_sCZBmFiGpgPPeDWh36PmMxravusfSpmFlryQJaephE2UIg3IvbVlCPJat8Uo9t-ESuND8qJOQqQKtZMvi3KOydkhYkxyWTEvGWfuJ_QA4SzxWid3aFYH98dvubo5oLPNH3AG3YZTDBKSmL3uwA5iKwDhALcyS7TnHqaPLgA2Npczfa6wPNDHt5hVTE-vy1UFnXRFaOa_71VhKW1gN_nWlwoiMO0um7CGP_RHmblkwSU76BgbXwqEfx4IQZh7nNBqYgi-9XbDtfutNK0Pi5kcUhesDij6A3QS6ocbioR1CBIseDe6BaUlsCu_-huugeqnHC0cHOhyR8qxC1dtIBLymNHGr0Bnnbl7cRgeX8DkAx9ZXWBB_uwWEgX2-9NFQUBn0_k3RMoFf5iWgU4j3EEOqMx0lQW40qc6ztlE_y4i86eDpLXJiiJ1dVdEPS1iKFCWmWSrOIyfvPV9GGiPAiBczotfOSGW0ter_9FlFeGf3Ata-Xo_6Veg-rD1be7-WCSWB16P_8aB7XFo9tABJfNCftubn1J_PwsPOItzTcju8Yr4pSuRQWH6MmkwDt2u806tkBAwut56oQIMRBG9zveVWeU1fdYoDuLzXBleVSYXHJVhgxPKSkWmgooi8dr31aebC0Fe9tjW_0J3DXl8fPAPjPUlTkf4JRQxEJ7gBACeic0d8_1drzisKV_R6BGlKLWq1UTk1nRzPO90UYlypODEkrUKvNPp-_w6DDxSaAkSMqiFaIHLhTduHNNg62x8WeY=w767-h797-s-no-gm?authuser=0");
  background-repeat: round;
}

yt-live-chat-text-message-renderer #author-photo::after{
    content: '';
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 250px;
    left: 0px;
    background-size: 68px;
    top: -3px;
    aspect-ratio: 1;
    animation: bounce-in-fwd 0.5s both;
    background-image: url("https://lh3.googleusercontent.com/pw/ABLVV84CXMA85QXzNfXYlPr7zKP1k9v7lw79g7vJp5seYpnlJqTTirsaPxQNvzG_tBVX-oX9F7sCycvnne_coWc7neGUU2WYHRzSGzCdplE5jqsRMAfxh1oPQcKSIz6SKq4Gtc5nbQfkqG9L6ng3JxU1HXnB4__RDQuL2hEkvDFnxT0Wt813AJLEgrKre_ChsqVs3C39AWh5IKe84EGDoY7MYMCyMODXSDo_MLvYgj0LnLSuq8C0btzgI1SQhDfQBvvU5ITrmqKBZPrCDjSze4-tgDCC-NidvAgkLJQHnjUSfeUvmne1q3PxdEgMhyaQ8LpKuY-yyRVG_pI0HvXxwdxcEHJLsCDqLyIC0YsnddDUyR8lcnpY0KZsqzIxEy3cn8rWdrCouDAnm4a8fZB2uLV0Pfx8lLUI8A1q2ulGTF8GXQUHxn15D-4HaaRzHXwjuL3pjfkKyf4q37-B2Imx3vF4PfAamJw94h5OIg_Are1X9QyTGWbx5TDUbYXvWRfLrAPHZBGAjXQQhhGx4Oo6myHFWdU0r3rb1-lbrzc3qdh1NxJAFBh-naSyAdGEUh1JmCLGLeQ2Nw0Fr6YxhdYR6o8926R_Y8KBA1-mI1qmr1Bv0qVwDuFSKs5BD5qW-Tt0JtVwYx8JjItJlgJNeX8oPdYgGo1HRdWwnKy3Aqqrf8Xttv_PCNgzH13AS6rvCxH6vnui_ewbHVkwlkJHC6WsFr6A3YbNDCfg7I3WI3Qs3Q-yYIL33dTKk24ZZVqLJP_vgkiisTdyxBR9jUHT6QaLvBIKpM_w5qf3JISdSIdfyDl7DzbSSJNfzyw3TZHIi4Oavvdz7CkzNjbeeuzwNX23R2llK9vBSYXEHe708EhE69SSLv-lKEPjE4S_i7vCDCoE_nTIlDhjm-YKOhNDjm8KTF8TuEkwTIvPC0p5FHubPUNRAqvp5JME1sDpTAzD4L03oxCLvqbTFcu_amaU1bunPW51b9f_vC7jw2Y=w194-h215-s-no-gm?authuser=0");
    background-repeat: no-repeat;
}

img.yt-img-shadow{
    width: 300px !important;
    height: 300px !important;
    visibility: hidden;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
  display: none !important;
  vertical-align: text-top !important;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {

  color: #999999 !important;
  font-family: 'Space Mono', monospace;
  font-size: 16px !important;
  line-height: 16px !important;
}

/* Badges. */
yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
  color: red !important;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: #5e84f1 !important;
}

yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: yellow !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
  color: #cccccc !important;
  font-family: 'Space Mono', monospace;
  font-size: 20px !important;
  line-height: 20px !important;
}

yt-live-chat-text-message-renderer #author-name::before {
  content: "[";
  margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name::after {
  content: "@user ~]$ ";
  margin-left: 2px;
}

yt-live-chat-text-message-renderer[author-type="member"] #author-name::after {
  content: "@member ~]$ ";
  margin-left: 2px;
}

yt-live-chat-text-message-renderer[author-type="moderator"] #author-name::after {
  content: "@moderator ~]# ";
  margin-left: 2px;
}

yt-live-chat-text-message-renderer[author-type="owner"] #author-name::after {
  content: "@root ~]# ";
  margin-left: 2px;
}

/* Messages. */
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
  display: none;
  color: #ffffff !important;
  font-family: 'Space Mono', monospace;
  font-size: 18px !important;
  line-height: normal !important;
  letter-spacing: normal !important;
}

yt-live-chat-text-message-renderer {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  /* animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite; */
}

/*
yt-live-chat-text-message-renderer::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
} */

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
  color: #ffffff !important;
  font-family: 'Space Mono', monospace;
  font-size: 20px !important;
  line-height: 20px !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
  color: #ffffff !important;
  font-family: 'Space Mono', monospace;
  font-size: 18px !important;
  line-height: 18px !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
  color: #ffffff !important;
  font-family: 'Space Mono', monospace;
  font-size: 18px !important;
  line-height: 18px !important;
}

yt-live-chat-moderation-message-renderer {
  display: none !important;
}

yt-live-chat-membership-item-renderer,ytd-sponsorships-live-chat-header-renderer{
    display: none !important;
}

yt-live-chat-paid-sticker-renderer{
    display: none !important;
}

ytd-sponsorships-live-chat-gift-redemption-announcement-renderer{
    display: none !important;
}

yt-live-chat-paid-message-renderer {
  margin: 4px 0 !important;
  display: none !important;
}

yt-live-chat-legacy-paid-message-renderer {
  background-color: #0f9d58 !important;
  margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
}

yt-live-chat-ticker-renderer {
  display: none !important;
}


yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  color: #ffffff !important;
  font-family: 'Space Mono', monospace;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

yt-live-chat-banner-manager {
  display: none !important;
}


yt-live-chat-action-panel-renderer,
yt-live-chat-renderer #action-panel {
  display: none !important;
}

yt-reaction-control-panel-overlay,
yt-reaction-control-panel-overlay-view-model,
yt-reaction-control-panel-view-model {
  display: none !important;
}

yt-live-chat-viewer-engagement-message-renderer {
  display: none !important;
}


/* Visibility */

yt-live-chat-text-message-renderer {
  visibility: hidden;
}

yt-live-chat-text-message-renderer:nth-last-child(-n + 1){
  visibility: visible !important;
}

@keyframes show-content {
  0% {
      transform: translateY(8px);
  }

  100% {
      transform: translateY(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    10% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
              opacity: 0;
    }
  
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
              opacity: 1;
    }
    90% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
              opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
              opacity: 0;
    }
  }

  @keyframes bounce-out-top {
    0% {
      opacity: 0;
      /* -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; */
    }
    
    50% {
      /* -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in; */
    }
    
    100% {
      /* -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; */
              opacity: 1;
    }
  }

  @keyframes bounce-out-top-transparent {
    0% {
      opacity: 0;
      /* -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; */
    }
    
    50% {
      /* -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-animation-timing-function: ease-in; */
              /* animation-timing-function: ease-in; */
              opacity: 1;
    }

    100% {
      /* -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; */
              opacity: 0;
    }
  }



/* Animista */
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}